In [3]:
import pandas as pd
import numpy as np
import os

In [4]:


np.random.seed(42)

n = 1000

data = pd.DataFrame({

    'age': np.random.randint(18, 60, n),
    'days_since_last_login': np.random.randint(0, 100, n),
    'login_frequency': np.random.randint(1, 50, n),
    'total_time_spent': np.random.randint(10, 500, n),
    'avg_session_time': np.random.uniform(5, 60, n),
    'courses_enrolled': np.random.randint(1, 10, n),
    'assignments_completed': np.random.randint(0, 20, n),
    'videos_watched': np.random.randint(1, 300, n),
    'forum_posts': np.random.randint(0, 50, n),
    'subscription_length': np.random.randint(1, 365, n),
    'preferred_time': np.random.choice(['morning', 'evening', 'night'], n),
    'student_type': np.random.choice(['active', 'passive'], n),
    'country': np.random.choice(['France','Germany','Spain','Italy'], n),
    'dropout': np.random.choice([0,1], n)
})

# Ajouter des valeurs manquantes
data.loc[np.random.choice(data.index, 100), 'age'] = np.nan

# Ajouter des valeurs aberrantes
data.loc[np.random.choice(data.index, 50), 'total_time_spent'] = -999
os.makedirs('../data/raw', exist_ok=True)
data.to_csv('../data/raw/student_data.csv', index=False)

data.head()

,age,days_since_last_login,login_frequency,total_time_spent,avg_session_time,courses_enrolled,assignments_completed,videos_watched,forum_posts,subscription_length,preferred_time,student_type,country,dropout
0,56.0,28,49,107,35.193925,8,1,266,47,317,evening,active,Germany,1
1,46.0,46,49,74,17.060068,4,17,95,21,266,night,active,Spain,1
2,32.0,67,44,-999,6.851805,5,8,262,20,182,morning,passive,Italy,0
3,25.0,75,28,350,16.804544,2,5,71,43,340,morning,active,Spain,1
4,38.0,44,47,14,27.886679,9,10,219,31,65,morning,passive,Germany,0