In [ ]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/raw/student_data.csv')

In [4]:
df.head()
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    906 non-null    float64
 1   days_since_last_login  1000 non-null   int64
 2   login_frequency        1000 non-null   int64
 3   total_time_spent       1000 non-null   int64
 4   avg_session_time       1000 non-null   float64
 5   courses_enrolled       1000 non-null   int64
 6   assignments_completed  1000 non-null   int64
 7   videos_watched         1000 non-null   int64
 8   forum_posts            1000 non-null   int64
 9   subscription_length    1000 non-null   int64
 10  preferred_time         1000 non-null   object
 11  student_type           1000 non-null   object
 12  country                1000 non-null   object
 13  dropout                1000 non-null   int64
dtypes: float64(2), int64(9), object(3)
memory usage: 109.5+ KB

age                      94
days_since_last_login     0
login_frequency           0
total_time_spent          0
avg_session_time          0
courses_enrolled          0
assignments_completed     0
videos_watched            0
forum_posts               0
subscription_length       0
preferred_time            0
student_type              0
country                   0
dropout                   0
dtype: int64

In [5]:
# 1. Compter les valeurs manquantes
print("AVANT NETTOYAGE:")
print(df.isnull().sum())
print(f"Valeurs négatives dans total_time_spent: {(df['total_time_spent'] < 0).sum()}")

AVANT NETTOYAGE:
age                      94
days_since_last_login     0
login_frequency           0
total_time_spent          0
avg_session_time          0
courses_enrolled          0
assignments_completed     0
videos_watched            0
forum_posts               0
subscription_length       0
preferred_time            0
student_type              0
country                   0
dropout                   0
dtype: int64
Valeurs négatives dans total_time_spent: 47

In [6]:
# 2. Créer une copie pour le nettoyage
df_clean = df.copy()

In [7]:
# 3. Traiter les valeurs aberrantes de total_time_spent
# Remplacer -999 par NaN (pour les traiter comme manquantes)
df_clean.loc[df_clean['total_time_spent'] < 0, 'total_time_spent'] = np.nan
print(f"\nAprès remplacement des négatifs: {df_clean['total_time_spent'].isnull().sum()} NaN dans total_time_spent")

NameError: name 'np' is not defined

In [ ]:
# 4. Imputer les valeurs manquantes
# Pour age : remplacer par la médiane (moins sensible aux outliers que la moyenne)
median_age = df_clean['age'].median()
df_clean['age'].fillna(median_age, inplace=True)

# Pour total_time_spent : remplacer par la moyenne
mean_time = df_clean['total_time_spent'].mean()
df_clean['total_time_spent'].fillna(mean_time, inplace=True)

In [ ]:
# 5. Vérifier qu'il n'y a plus de valeurs manquantes
print("\nAPRÈS NETTOYAGE:")
print(df_clean.isnull().sum())
print(f"Min total_time_spent: {df_clean['total_time_spent'].min()}")